In [1]:
import pandas as pd
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import seaborn as sns
import numpy as np
from datetime import datetime

uri = 'https://gist.githubusercontent.com/guilhermesilveira/4d1d4a16ccbf6ea4e0a64a38a24ec884/raw/afd05cb0c796d18f3f5a6537053ded308ba94bf7/car-prices.csv'

dados = pd.read_csv(uri)
print(dados.head(3))

   Unnamed: 0  mileage_per_year  model_year     price sold
0           0             21801        2000  30941.02  yes
1           1              7843        1998  40557.96  yes
2           2              7109        2006  89627.50   no

Tratamento de dados

In [2]:
novas_colunas = {
    'mileage_per_year': 'milhas_por_ano',
    'model_year':'ano_do_modelo',
    'price': 'preco',
    'sold':'vendido'
}
dados = dados.rename(columns=novas_colunas)
dados.head(3)

   Unnamed: 0  milhas_por_ano  ano_do_modelo     preco vendido
0           0           21801           2000  30941.02     yes
1           1            7843           1998  40557.96     yes
2           2            7109           2006  89627.50      no

In [3]:
troca_valores = {'yes':1, 'no':0}
dados['vendido'] = dados['vendido'].map(troca_valores)
dados.head()

   Unnamed: 0  milhas_por_ano  ano_do_modelo      preco  vendido
0           0           21801           2000   30941.02        1
1           1            7843           1998   40557.96        1
2           2            7109           2006   89627.50        0
3           3           26823           2015   95276.14        0
4           4            7935           2014  117384.68        1

In [4]:
ano_atual = datetime.now().year
dados['ano_do_modelo'] = ano_atual - dados['ano_do_modelo']
dados.head(3)

   Unnamed: 0  milhas_por_ano  ano_do_modelo     preco  vendido
0           0           21801             23  30941.02        1
1           1            7843             25  40557.96        1
2           2            7109             17  89627.50        0

In [5]:
_1_milha_vale_1_60934_km = 1.60934
dados['km_por_ano'] = dados['milhas_por_ano'] * _1_milha_vale_1_60934_km
dados.head(3)

   Unnamed: 0  milhas_por_ano  ano_do_modelo     preco  vendido   km_por_ano
0           0           21801             23  30941.02        1  35085.22134
1           1            7843             25  40557.96        1  12622.05362
2           2            7109             17  89627.50        0  11440.79806

Dados treino e dados teste

In [16]:
dados_selecionados = dados[['ano_do_modelo','preco','km_por_ano','vendido']]
print(dados_selecionados.head(3))

x = dados_selecionados[['ano_do_modelo', 'preco', 'km_por_ano']]
y = dados_selecionados['vendido']

SEED = 5
np.random.seed(SEED)
treino_x,teste_x,treino_y,teste_y = train_test_split(
    x, y, test_size = 0.25, stratify=y
)

   ano_do_modelo     preco   km_por_ano  vendido
0             23  30941.02  35085.22134        1
1             25  40557.96  12622.05362        1
2             17  89627.50  11440.79806        0

        Modelagem

In [26]:
modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

baseline = np.ones(2500)
acuracia_base_line = accuracy_score(teste_y, baseline) * 100
print("A acurácia da Baseline foi %.2f%%" % acuracia_base_line)

c:\Users\bmnet\OneDrive\Área de Trabalho\Diogo\MEI\repositorios\projetos_pessoais\data-analysis-venda-carros\venv\Lib\site-packages\sklearn\svm\_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(

Treinaremos com 7500 elementos e testaremos com 2500 elementos
A acurácia foi 57.96%
A acurácia da Baseline foi 58.00%

c:\Users\bmnet\OneDrive\Área de Trabalho\Diogo\MEI\repositorios\projetos_pessoais\data-analysis-venda-carros\venv\Lib\site-packages\sklearn\svm\_base.py:1250: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

    Graficos

In [ ]:
sns.relplot(
    x="km_por_ano", y="preco", data=dados_selecionados, col='vendido', hue='vendido'
)
#sns.scatterplot(x="horas_esperadas", y="preco", data=dados, hue='finalizados')
print('Grafico geral Km x Preço, plotando os vendidos.','\n',
'Formato RELATIVO e COLORIDO'
)